
input,
textarea {
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  background-color: #60BB46;
  color: #000;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 30px;
}

input[type="checkbox"] {
  margin: 0 8px 8px 0;
}
  
a[target="_blank"] {
    color: #60BB46;
    text-decoration: none;
    border-bottom: 1px dotted;
}

.checkboxes,
.reasons {
  margin: 5px;
}
  


/* ================================= 
  Media Queries
==================================== */

@media screen and (min-width: 480px) {

  .form-contact {
    width: 100%;
  }

}


@media (min-width: 768px) {

	.main-header,
	.main-nav,
  .row {
		display: flex;
	}

	.main-header {
		flex-direction: column;
		align-items: center;
  }


  .col {
    flex: 1 50%;
  }

  .row {
    flex-wrap: wrap;
  }

  .secondary {
    order: -1;
  }

  .inln {
    width: auto;
    display: inline-block;
  }

  .btn + .btn {
    margin-left: 20px;
  }

  input[type="email"] {
	  font-size: 1.5em;
	}

  /* Conbinators ------------- */


  form > a {
    font-size: .7em;
  }

}



@media (min-width: 1025px) {

	.main-header {
		flex-direction: row;
		justify-content: space-between;
  }
  
  .main-header-subsc {
    text-align: center;
    margin-top: 50px;
}

  .col {
    flex-basis: 0;
    flex: 50%;
    padding: 15px;
  }

  .row {
    flex-wrap: wrap;
		width: 80%;
    max-width: 1150px;
    margin-bottom: 100px;
	}
  
  input[type="email"] {
    font-size: 1.2em;
  }

}