/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    line-height: 2;
    font-family: 'Lato', sans-serif;
}

.main-header {
    text-align: center;
    background-color: #37323E;
    padding: 5px;
    margin-bottom: 20px;
}

.name {
    font-size: 1.5em;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
}

#subscribe h2 {
    text-align: center;
    font-size: 1.4em;
}

.subsc-info {
    text-align: center;
    font-size: .95em;
    width: 80%;
    margin: auto;
    line-height: 1.5;
}

.thick {
    background-color: #000;
    border: 1px solid #000;
    height: 4px;
    width: 85%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
}

.thin {
    background-color: #ff784f;
    border: 1px solid #ff784f;
    height: 2px;
    width: 85%;
    margin: auto;
    margin-bottom: 30px;
}

.thin-2 {
    background-color: #000;
    border: 1px solid #000;
    height: 2px;
    width: 85%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
}

p,
.label {
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: .95em;
}

.news {
    line-height: 1.2;
    margin-bottom: 10px;
}

.signup {
    text-align: center;
    margin-bottom: 10px;
}

fieldset {
    border: 0;
    
}

legend {
    font-size: 1.3em;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

::placeholder {
    text-align: right;
    padding-right: 5px;
    font-style: italic;
    color: white;
}

footer {
    text-align: center;
}

footer p {
    margin-bottom: 15px;
}

/* ================================= 
    Layout
==================================== */

.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

fieldset {
    width: 95%;
    margin: auto;
}

/* ================================= 
  Form
==================================== */

.row {
    padding-top: 15px;
}

.label {
    font-weight: 700;
    padding-bottom: 5px;
    padding-top: 10px;
}

.input {
    padding: 15px 15px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #e6e8eb;
    background-color: #e6e8eb;
    width: 100%;
}

.required {
    font-size: .65em;
}

#state {
    font-size: .75em;
}

.checkbox,
.radio {
    margin-right: 10px;
}


input:invalid {
    background-color: #ff784f;
}

button {
    margin-top: 20px;
    padding: 20px 10px;
    background-color: #ff784f;
    border-radius: 5px;
    color: white;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 20px;
    box-shadow: none;
    width: 100%;
    margin-bottom: 20px;
    font-weight: bold;
}

textarea {
    padding: 10px 20px;
    border-radius: 6px;
    box-sizing: border-box;
    border: 1px solid #e6e8eb;
    background-color: #e6e8eb;
    width: 100%;
    margin-top: 5px;
}

textarea:focus {
    background-color: #BFBDC1;
    transition: ease-in, .7s;
}

#zip {
    display: block;
    width: 50%;
}

/* ================================= 
  Media Queries
==================================== */

@media (min-width:768px) {

    .container {
        width: 75%;
        justify-content: center;
        margin: 0 auto;
        width: 70%;
    }

    .row {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    .row input,
    .row select {
        flex-basis: 80%;
    }

    .row label {
        flex-basis: 20%;
    }

    .thick,
    .thin,
    .thin-2 {
        width: 92%;
    }
    
    .name {
        font-size: 2em;
        text-transform: uppercase;
    }
    

    #zip {
        max-width: 30%;
    }
    

}
